COMMON_FLAGS="{{ common_flags }}"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"

CHOST="x86_64-pc-linux-gnu"
MAKEOPTS="{{ makeopts_effective }}"

ACCEPT_KEYWORDS="{{ accept_keywords }}"
ACCEPT_LICENSE="{{ accept_license }}"

USE="{{ use_flags | join(' ') }}"

VIDEO_CARDS="{{ video_cards }}"
INPUT_DEVICES="libinput"

PORTAGE_TMPDIR="/var/tmp"
DISTDIR="/var/cache/distfiles"
PKGDIR="/var/cache/binpkgs"

FEATURES="${FEATURES} parallel-install ccache buildpkg"
CCACHE_DIR="/var/cache/ccache"
CCACHE_SIZE="15G"

EMERGE_DEFAULT_OPTS="--quiet-build=y --keep-going=y --jobs={{ emerge_jobs_effective }} --load-average={{ (ansible_processor_vcpus | int) + 1 }}"

L10N="{{ default_locale.split('.')[0].split('_')[0] }}"
LINGUAS="{{ default_locale.split('.')[0].split('_')[0] }}"

GENTOO_MIRRORS="{{ gentoo_mirror | regex_replace('/releases/.*$', '') }}"
