[defaults]
host_key_checking = False
retry_files_enabled = False
forks = 4
timeout = 120
stdout_callback = yaml
inventory = ./inventory.ini

[privilege_escalation]
become_method = doas

[ssh_connection]
pipelining = True
