[defaults]
host_key_checking = False
retry_files_enabled = False
forks = 4
timeout = 120
stdout_callback = ansible.builtin.default
result_format = yaml
inventory = ./inventory.ini

[ssh_connection]
pipelining = True
